html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

a {
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/RobotoRegular.eot") format("embedded-opentype"), url("../fonts/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular.svg#RobotoRegular") format("svg"); }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?isxyo1");
  src: url("../fonts/icomoon.eot?isxyo1#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?isxyo1") format("truetype"), url("../fonts/icomoon.woff?isxyo1") format("woff"), url("../fonts/icomoon.svg?isxyo1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-s:before {
  content: "\e900";
  color: #ee4036; }

.icon-f:before {
  content: "\e901";
  color: #3d58a6; }

.icon-g:before {
  content: "\e902";
  color: #3d58a6; }

.icon-y:before {
  content: "\e903";
  color: #3d58a6; }

.container {
  padding: 15px 90px; }

.main-header .container, .video-section .video-body, .news-section .container .news-article-container {
  display: flex;
  justify-content: space-between; }

.main-header {
  width: 100%;
  background-color: white; }
  .main-header .container .main-logo-container img {
    width: 200px; }
  .main-header .container .main-navigation {
    color: red;
    justify-content: space-between;
    align-items: center;
    display: flex; }
    .main-header .container .main-navigation .main-menu {
      display: flex;
      align-items: center;
      font-family: "RobotoRegular", sans-serif; }
      .main-header .container .main-navigation .main-menu li a {
        text-decoration: none;
        color: #3D58A6;
        padding: 15px;
        font-size: 25px;
        box-sizing: border-box;
        text-transform: uppercase;
        transition: 0.3s; }
      .main-header .container .main-navigation .main-menu li:hover {
        opacity: 0.4; }
    .main-header .container .main-navigation .social-icons {
      display: flex;
      font-family: "RobotoRegular", sans-serif; }
      .main-header .container .main-navigation .social-icons li {
        padding: 0 5px;
        border-right: 2px solid #3D58A6; }
        .main-header .container .main-navigation .social-icons li:last-child {
          border-right: 0; }
      .main-header .container .main-navigation .social-icons img {
        height: 20px;
        padding: 10px;
        transition: 0.3s; }
        .main-header .container .main-navigation .social-icons img:hover {
          opacity: 0.6; }

.banner-section {
  background-color: #e6e6e6;
  padding: 20px 0;
  width: 100%; }
  .banner-section .image-container {
    position: relative; }
    .banner-section .image-container :first-child {
      width: 100%; }
    .banner-section .image-container h2 {
      color: white;
      position: absolute;
      bottom: 8%;
      left: 3%;
      font-family: "RobotoRegular", sans-serif;
      text-transform: uppercase;
      font-size: 30px; }
    .banner-section .image-container :last-child {
      position: absolute;
      width: 100px;
      bottom: 10%;
      right: 5%; }

.video-section {
  padding: 20px 0;
  background-color: #363E97; }
  .video-section .video-section-header {
    padding-bottom: 30px;
    color: white;
    font-family: "RobotoRegular", sans-serif;
    font-size: 24px; }
    .video-section .video-section-header span a {
      color: white;
      transition: 0.3s; }
      .video-section .video-section-header span a:hover {
        color: #EE4036; }
  .video-section .video-body .video-item {
    -webkit-box-shadow: 1px 1px 2px #000;
    -moz-box-shadow: 1px 1px 2px #000;
    -o-box-shadow: 1px 1px 2px #000;
    box-shadow: 1px 1px 2px #000;
    width: 49%;
    height: 400px;
    background-color: #F2F2F2;
    display: flex;
    border: 3px solid transparent;
    align-items: center;
    box-sizing: border-box; }
    .video-section .video-body .video-item:hover {
      border: 3px solid #EE4036; }
    .video-section .video-body .video-item h2 {
      font-family: "RobotoRegular", sans-serif;
      color: black;
      text-transform: uppercase;
      font-size: 16.85px;
      margin-left: 20%; }

.news-section {
  padding: 20px 0;
  background-color: #BDCCD4; }
  .news-section .container .news-section-header {
    padding-bottom: 30px;
    color: #3D58A6;
    font-family: "RobotoRegular", sans-serif;
    font-size: 24px; }
    .news-section .container .news-section-header span a {
      color: #3D58A6;
      transition: 0.3s; }
      .news-section .container .news-section-header span a:hover {
        color: #EE4036; }
  .news-section .container .news-article-container .news-article {
    position: relative;
    display: inline-block;
    margin-bottom: 5%; }
    .news-section .container .news-article-container .news-article .more {
      width: 100%;
      padding: 10px 0;
      background-color: #E6E6E6;
      position: absolute;
      bottom: 0;
      font-family: "RobotoRegular", sans-serif; }
      .news-section .container .news-article-container .news-article .more h2 {
        text-transform: uppercase;
        padding-left: 10px;
        margin: 10px 0; }
      .news-section .container .news-article-container .news-article .more:hover {
        bottom: 0%;
        height: 70%; }
