@import 'reset.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import '_partials';
@import '_mixin';

.main-header{
	width:100%;
	background-color: white;
	.container{
		@extend %flex-placeholder;
		.main-logo-container{
			img{
				width:200px;
			}
		}
		.main-navigation{
			color: red;
			justify-content: space-between;
			align-items: center;
			display: flex;

			.main-menu{
				display: flex;
				align-items: center;
				font-family: $roboto;
				li{
					a{
						text-decoration: none;
						color: $blue;
						padding: 15px;
						font-size: 25px;
						box-sizing: border-box;
						text-transform: uppercase;
						@include transition;
					}	
					&:hover{
						opacity: 0.4 ;
					}

				}
			}
			.social-icons{
				display: flex;
				font-family: $roboto;
				li{
					padding:0 5px;
					border-right:2px solid $blue;
					&:last-child{
							border-right: 0;
						}
					}
					img{
						height: 20px;
						padding: 10px;
						@include transition;
						&:hover{
							opacity: 0.6;
						}
					}
				}
			}
		}
	}
.banner-section{
	background-color: $banner-section-color;
	padding: $section-padding 0;
	width: 100%;

	.image-container{
		position: relative;

		:first-child{
			width: 100%;
		}
		h2{
			color: white;
			position: absolute;
			bottom:8%;
			left: 3%;
			font-family: $roboto;
			text-transform: uppercase;
			font-size: 30px;
		}
		:last-child {
			position: absolute;
			width: 100px;
			bottom:10%;
			right: 5%;
		}
	}
}
.video-section{
	padding: $section-padding 0;
	background-color:#363E97;
	
	.video-section-header{
		padding-bottom: 30px;
		color:white;
		font-family: $roboto;
		font-size:24px;
		
		span{
			a{
				color:white;
				@include transition;
				&:hover{
					color: $red;
				}
			}
		}	
	}
	.video-body{
		@extend %flex-placeholder;
		.video-item{
			@include box-shadow;
			width: $video-width;
			height: 400px;
			background-color:#F2F2F2;
			display: flex;
			border: 3px solid transparent;
			align-items: center;
			box-sizing:border-box;
			&:hover{
			border: 3px solid $red;
			}
			h2{
				font-family: $roboto;
				color: black;
				text-transform: uppercase;
				font-size:16.85px;
				margin-left: 20%;
			}
		}
	}
}
// news
.news-section{
	padding: $section-padding 0;
	background-color:$lightblue;
		.container{
			.news-section-header{
				padding-bottom: 30px;
				color:$blue;
				font-family: $roboto;
				font-size:24px;
				
				span{
					a{
						color:$blue;
						transition:position 3s;
						&:hover{
							color: $red;
						}
					}
				}	
			}	
			.news-article-container{
				@extend %flex-placeholder;
				.news-article{
					position: relative;
					display: inline-block;
					margin-bottom: 5%;
					transition:position 3s;
					
					.more{
						transition:position 3s;
						width: 100%;
						padding: 10px 0;
						background-color: $grey;
						position: absolute;
						bottom: -20%;
						height: 20%;
						font-family:$roboto;
						h2{
							text-transform: uppercase;
							padding-left: 10px;
							margin:10px 0;
						}
						&:hover{
							transition:position 3s;
							bottom: -20%;
							height: 70%;
						}
					}	
				}
			}
		}
	}
.featured-section{
	padding: $section-padding 0;
	background-color:$grey;

	.featured-section-header{
		
		padding-bottom: 30px;
		color:black;
		font-family: $roboto;
		font-size:24px;
		
		span{
			a{
				color:black;
				@include transition;
				&:hover{
					color: $red;
				}
			}
		}	
	}
	.article-container{
		display: flex;

		.featured-media{
			width: $video-width;
			background-color: #F2F2F2;
			padding: 20px;

			h2{
				color: $blue;
				font-family: $roboto;
				text-transform: uppercase;
			}
		}
	}
}