$roboto: 'RobotoRegular', sans-serif;
$blue: #3D58A6;
$red:#EE4036;
$lightblue:#BDCCD4;
$grey:#E6E6E6;
$text-grey:#58595B;
$banner-section-color : rgb(230,230,230);
$video-width: (100% - 5) / 2;
$section-padding: 20px;
